* {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

body {
    background-color: lightyellow;
}

a {
    text-align: center;
}

h1, h3, p {
    text-align: center;
}

h1 {
    font-family: Verdana, Tahoma, sans-serif;
    font-size: 36px
}

h3 {
    font-size: 24px;
}

p {
    font-size: 18px;
}